.control-btn{
  border: 1px solid #eee;
  font-size: 14px;
  color: #ccc;
}

.arrow-icon{
  border-bottom-color: #ccc !important;
}

.control-btn:hover{
  color: #000;
}

.control-btn:hover .arrow-icon{
  border-bottom-color: #000 !important;
}
