html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  font-size: 14px;
  line-height: 1.5;
  color: #1a1a1a;
  background: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #c0c4cc;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #f2f6fc;
}


.control-btn{
  border: 1px solid #eee;
  font-size: 14px;
  color: #ccc;
}

.arrow-icon{
  border-bottom-color: #ccc !important;
}

.control-btn:hover{
  color: #000;
}

.control-btn:hover .arrow-icon{
  border-bottom-color: #000 !important;
}
