@mixin button($color) {
  color: #fff;
  background-color: $color;
  border-color: $color;

  &:hover {
    color: #fff;
    background-color: rgba($color, 0.8);
    border-color: transparent;
  }
}

@mixin is-plain($color) {
  &.is-plain {
    color: $color;
    background-color: rgba($color, 0.1);
    border-color: rgba($color, 0.2);

    &:hover {
      color: #fff;
      border-color: transparent;
      background-color: $color;
    }
  }
}

@mixin is-circle {
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}

@mixin is-disabled($color) {
  &.is-disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: rgba($color, 0.6);
    border-color: rgba($color, 0);

    &:hover {
      color: #fff;
      background-color: rgba($color, 0.6);
      border-color: rgba($color, 0);
    }
  }
}

@mixin button-size($paddingBoth: 12px, $paddingUpDown: 20px) {
  padding: $paddingBoth $paddingUpDown;
}
