@import './variables';

/* 按钮样式 */
@mixin button($color) {
  color: #fff;
  background-color: $color;
  border-color: $color;

  &:hover {
    color: #fff;
    background-color: rgba($color, 0.8);
    border-color: transparent;
  }
}

/* 按钮大小样式 */
@mixin button-size($paddingBoth: 12px, $paddingUpDown: 20px) {
  padding: $paddingBoth $paddingUpDown;
}

/* 朴素样式 */
@mixin is-plain($color) {
  &.is-plain {
    color: $color;
    background-color: rgba($color, 0.1);
    border-color: rgba($color, 0.2);

    &:hover {
      color: #fff;
      border-color: transparent;
      background-color: $color;
    }
  }
}

/* 不可用样式 */
@mixin is-disabled($color, $type) {
  &.is-disabled {
    cursor: not-allowed;

    @if $type == button {
      color: #fff;
      background-color: rgba($color, $disabledDiaphaneity);
      border-color: rgba($color, 0);

      &:hover {
        color: #fff;
        background-color: rgba($color, $disabledDiaphaneity);
        border-color: rgba($color, 0);
      }
    } @else if $type == link {
      color: rgba($color, $disabledDiaphaneity);

      &:hover {
        color: rgba($color, $disabledDiaphaneity);
        text-decoration: none;
      }
    } @else {
      @error "值#{$type} 不在$type取值范围内，$type 取值范围：[button,link]";
    }
  }
}

/* 圆形样式 */
@mixin is-circle {
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}

/* 输入框样式 */

@mixin input($height, $padding, $type: input) {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;

  &__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    height: $height;
    line-height: $height;
    outline: none;
    padding: $padding;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgba($infoColor, 0.5);
    }

    &::-moz-placeholder {
      color: rgba($infoColor, 0.5);
    }

    &:-ms-input-placeholder {
      color: rgba($infoColor, 0.5);
    }

    &:focus {
      outline: none;
      border-color: $primaryColor;
    }
  }

  &.is-disabled &__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }

  &__suffix {
    position: absolute;
    text-align: center;
    color: rgba($infoColor, 0.5);
    transition: all 0.3s;
    pointer-events: none;

    @if $type == input {
      height: 100%;
      right: 5px;
      top: 0;
    }

    @if $type == textarea {
      right: 15px;
      bottom: -5px;
    }

    &-inner {
      font-size: 16px;
      pointer-events: all;
      line-height: 2.5;
      user-select: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
